<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012-2013 Trento RISE
  
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.studymate"
    android:sharedUserId="eu.trentorise.smartcampus.shared"
    android:versionCode="2"
    android:versionName="0.9.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="eu.trentorise.smartcampus.android.studyMate.permission.C2D_MESSAGE" />

    <permission
        android:name="eu.trentorise.smartcampus.android.studyMate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/smartuni_logo_base"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sm_final" >
        <meta-data
            android:name="eu.trentorise.smartcampus.account.AUTH_URL"
            android:value="https://ac.smartcampuslab.it/aac" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_TYPE"
            android:value="eu.trentorise.smartcampus.account" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_NAME"
            android:value="SmartCampus" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_LABEL"
            android:value="SmartCampus" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_BASED_ACCESS"
            android:value="true" />

        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.start.MyUniActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@drawable/smartuni_logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-yerhpkuav29wxou" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.trentorise.smartcampus.ac.embedded.EmbeddedAuthActivity" />

        <service
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticationService"
            android:exported="true"
            android:permission="eu.trentorise.smartcampus.ac.AUTHENTICATE" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticatorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.notices.NoticesActivity"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/notices_white"
            android:label="@string/title_activity_notices" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.myAgenda.MyAgendaActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/myagenda_white"
            android:label="@string/title_activity_my_agenda" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.phl.PHLActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/phl_white"
            android:label="@string/title_activity_phl" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.phl.PHL4Courses"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/phl_white"
            android:label="@string/title_activity_phl" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.finder.FindHomeActivity"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/findcourses_white"
            android:label="@string/title_activity_find_courses"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.finder.ResultSearchedActivity"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/findcourses_white"
            android:label="@string/title_activity_result_searched" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.finder.FindRecensioniActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/findcourses_white"
            android:label="@string/title_activity_find_recensioni" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.finder.FindHomeCourseActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/findcourses_white"
            android:label="@string/title_activity_find_home_course" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.myAgenda.AddRateActivity"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/ic_white_ratecourses"
            android:label="@string/title_activity_rate" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.rate.AddRatingFromCoursesPassed"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/ic_white_ratecourses"
            android:label="@string/title_activity_rate" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.start.WorkInProgress"
            android:label="@string/title_activity_work_in_progress" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.rate.CoursesPassedActivity"
            android:configChanges="orientation|keyboard"
            android:icon="@drawable/ic_white_ratecourses"
            android:label="@string/title_activity_rate" >
        </activity>

        <receiver
            android:name="eu.trentorise.eu.trentorise.smartcampus.android.studyMate.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="eu.trentorise.smartcampus.pushservice" />
            </intent-filter>
        </receiver>

        <service android:name="eu.trentorise.smartcampus.android.studyMate.NotificationService" />

        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.Lista_GDS_activity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_lista__gds_activity" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.Overview_GDS"
            android:label="@string/title_activity_overview__gds" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.RicercaGruppiGenerale_activity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_gicercagruppigenerale_activity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.Add_attivita_studio_activity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_add_attivita_studio_activity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.Crea_GDS_activity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_crea__gds_activity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.Display_GDS_research_results"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.ShowImpegnoGDS"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.ShowImpegnoGDS"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.GDS_Subscription_activity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.ShowModifyGDSDetails_activity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_show_modify_gdsdetails_activity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.android.studyMate.gruppi_studio.ModifiyAttivitaStudio"
            android:label="@string/title_activity_modifiy_attivita_studio" >
        </activity>
    </application>

</manifest>